@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

html, body {
    font-size: 15px;
    background-color: #FFF0F6;
    padding: 30px;
    margin-left: 30px;
    margin-right: 30px;
    font-family: 'Playfair Display', serif;
}